@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&family=Mulish&display=swap');

/*font-family: 'Catamaran', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif;

A címsorok és menük betűtípusa: Catamaran, Helvetica, Arial, sans-serif
Gombok szövege, felső menü linkek: Lato, Helvetica, Arial, sans-serif
Bekezdések: Muli, Helvetica, Arial, sans-serif
A footer egységesen: Muli, Helvetica, Arial, sans-serif
*/

.first-part {    
    background-image:url(./img/bg-pattern.png), linear-gradient(to right, rgba(183,28,27,1) , rgba(128,0,128,1));    
}

.second-part {
    background: yellow;
}

.fourth-part {
    background-image: url(./img/bg-cta.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: 50vh;
}

.fifth-part {
    background-color: yellow;
}

footer {
    background-color: black;
    color: gray;
    text-align: center;    
}

footer a {
    text-decoration: none;
    color: gray;
}

.twitter {
    max-height: 100px;
}

.face {
    max-height: 100px;
}

.google {
    max-height: 100px;
}

.phone {
    max-width: 100%;
    max-height: 300px;
}

p {
    display: block;
}

h1 {

}

h2 {

}

h3 {

}