@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&family=Mulish&display=swap');

/*font-family: 'Catamaran', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif;

A címsorok és menük betűtípusa: Catamaran, Helvetica, Arial, sans-serif
Gombok szövege, felső menü linkek: Lato, Helvetica, Arial, sans-serif
Bekezdések: Muli, Helvetica, Arial, sans-serif
A footer egységesen: Muli, Helvetica, Arial, sans-serif
*/

#modal {
    display: none;
}

.first-part {    
    background-image:url(./img/bg-pattern.png), linear-gradient(to right, rgba(222,38,52,255) , rgba(123,66,144,255));    
}

.navbar {
    position: sticky;
    top: 0;
    background-image:url(./img/bg-pattern.png), linear-gradient(to right, rgba(222,38,52,255) , rgba(123,66,144,255));
}

.second-part {
    background: rgba(253,203,78,255);
}

.fourth-part {
    background-image: url(./img/bg-cta.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: 50vh;
}

.fifth-part {
    background-color: rgba(253,203,78,255);
}

footer {
    background-color: black;
    color: gray;
    text-align: center; 
}

footer a {
    text-decoration: none;
    color: gray;
    font-family: Catamaran, Helvetica, Arial, sans-serif;
}

.twitter {
    max-height: 100px;
}

.face {
    max-height: 100px;
}

.google {
    max-height: 100px;
}

.pos {
    position: relative;
}

.phone {
    max-width: 100%;
    max-height: 300px;
}

.screen {
    position: absolute;
    max-height: 76%;
    top: 12%;
    left: 34.5%;
}

p {
    display: block;
    font-family: Muli, Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
}

h3 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
}

button {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

footer {
    font-family: Muli, Helvetica, Arial, sans-serif;
}

a:hover {
    color: white;
}