* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #BDA5AB;
    margin:0 auto;
    width: 80vw;
}
#mobile {margin: 15px 0 15px 0;}
#mobile span {
    height: 4px;
    width: 40px;
    background: rgba(0,0,0,0.3);
    display: none;
    margin-bottom: 4px;
}

header {
    background: linear-gradient(black, grey);
}

footer {
    background: linear-gradient(grey, black);
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    list-style: none;
    /*margin-right: 20px;*/
    border-left: 1px solid black;
    padding: 0 20px 0 20px;
}

nav ul li:hover {
    cursor: pointer;
    background: #B9B9B9;
    color: #002120;
    box-shadow: 0 0 3px #412728;
}

nav ul li:last-child {
    border-right: 1px solid black;
}

nav ul li a {
    text-decoration: none;
    color: #47817F;
}

.gridArticle {
    display: grid;
    gap: 5px;
    margin: 0 auto;
}

@media (max-width:800px){
    .article1 {
        display: grid;
    }
    .article2 {
        display: grid;
    }
    .article3 {
        display: grid;
    }
    nav {
        display: none;
    }
    #mobile span {
        display: block;
    }

    #mobile:hover {
        cursor: pointer;
        max-width: 40px;
    }
    #nav.active {
        display: flex;
        background: none;
    }
    #nav.active ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;  
    }
    #nav.active ul li {  
        border-left: none;
        border-right: none;
        padding: 10px 0 10px 0;    
        border-bottom: 1px solid black;
    }
}

.gridGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

@media (max-width:800px){
    .gridGallery {
        grid-template-columns: repeat(1, 2fr);
        margin: 5px auto;
    }
    
}

.galleryimg {
    display: grid;
}

.galleryimg img {
    width: 100%;
    height: 300px;
    margin: auto;
    box-shadow: 0 0 3px black;
}

.workContent {
    max-width: 95%;
}

.worksImg {
    float: left;
    max-height: 100%;
}

img {
    height: 200px;
    margin: 2px;
}

.img {
    float: left;
}

.aboutImg {
    height: 350px;
}


.box1, .box2, .box3 {
    margin-bottom: 5px;
}

p {
    margin: 0 auto 25px 5px;
    color: #47817F;
}

.main h2 {
    margin-bottom: 10px;
}

.main p {
    margin: 0;
}

.main {
    color: #47817F;
}

.aside {
    color: #47817F;
}

h1 {
    margin: 5px auto 20px 5px;
    color: #B9B9B9;
    text-shadow: 0 0 0.5px whitesmoke;
}

h3 {
    text-transform: uppercase;
    color: #47817F;
}

h2 {
    color:#47817F;
}

nav {
    background: transparent;
}

.link {
    color: blue;
}

footer a {
    color: rgb(226, 224, 224);
    text-decoration: none;
    box-shadow: 0 0 2px rgb(226, 224, 224);
    padding: 5px;
}

footer a:hover {
    background: #B9B9B9;
    color: #002120;
    box-shadow: 0 0 3px #4B4A54;
}

.button {
    padding: 10px;
    margin: 10px 0 10px 0;
    display: block;
}

.gridHome {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
        "box1 box2 box3"
    ;
    gap: 5px;
}

@media (max-width:800px){
    .gridHome {
        grid-template-columns: 2fr;
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        ;
    }
}

.box1 {
    grid-area: box1;    
    border: 1px solid #254D4C;
}

.box2 {
    grid-area: box2;
    border: 1px solid #254D4C;
}

.box3 {
    grid-area: box3;
    border: 1px solid #254D4C;
}

section {
    border:1px solid #254D4C;
    margin-top: 5px;
}

.skills>ol {
    margin-left: 30px;
}

.hobbies>ol {
    margin-left: 30px;
}

.languages>ul {
    margin-left: 30px;
    list-style: circle;
}

.languages, .skills, .hobbies, aside {
    margin: 0 0 20px 5px;
}

#name, #field, #email {
    margin-bottom: 5px;
}